

.responsive {
  padding: 0 6px;
  margin: 10px;
  float: left;
  width: 24.999%;
  height: 24.999%;
} 




.container {
	
	height:400px;
	width:400px;
	overflow: hidden;
	text-align: center;
}

img {
		height:400px;
		min-width:100%;
		max-width:none;
		margin:0 -100%;
}
