<!-- adressen/templates/adressen/adress_home.html -->

{% extends 'base.html' %}

{% block content %}
<h2>Übersicht Locations</h2>
<ul>
    {% for adresse in object_list %}
    <li class="adress-item">
        <div class="adresse-banner">
        <a href="{% url 'adress_detail' adresse.pk %}">
            {% if adresse.image %}
            <img src="{{ adresse.image.url }}" class="rounded-image">
            {% endif %}
            <h3 class="adresse-name">{{ adresse.name }}</h3>
        </a>
        </div>
    </li>
{% endfor %}
</ul>
<a class="btn btn-success btn-sm" href="{% url 'neue_adresse' %}">+ Neue Adresse hinzufügen</a>
{% endblock content %}  